@import 'reset.scss';
@import 'fonts.scss';
@import 'vars.scss';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  color: var(--dark-blue-color);
  background-color: var(--warm-color);
  font-family: var(--primary-font);
}

.container {
    width: 1416px;
    margin: 0 auto;
}

a {
  color: var(--dark-blue-color);
}

h1 {
  font-family: var(--title-font);
  font-size: 67.5pt;
  line-height: 0.95;
  text-transform: lowercase;
  letter-spacing: -6%;
}

h2 {
  font-family: var(--title-font);
  font-size: 48pt;
  line-height: 0.95;
  text-transform: lowercase;
  letter-spacing: -6%;
}

h3 {
  font-family: var(--title-font);
  font-size: 33pt;
  line-height: 0.95;
  text-transform: lowercase;
  letter-spacing: -4%;
}

h4 {
  font-family: var(--title-font);
  font-size: 27pt;
  line-height: 0.95;
  text-transform: lowercase;
  letter-spacing: -4%;
}

h5 {
  font-family: var(--title-font);
  font-size: 21pt;
  line-height: 0.95;
  text-transform: lowercase;
  letter-spacing: -2%;
}

h6 {
  font-family: var(--title-font);
  font-size: 18.75pt;
  line-height: 0.95;
  text-transform: lowercase;
  letter-spacing: -2%;
}

p.large {
  font-family: var(--primary-font);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 18pt;
  line-height: 1.3;
  letter-spacing: 2%;
}

p.large-bold {
  font-family: var(--primary-font);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 18pt;
  line-height: 1.3;
  letter-spacing: 2%;
}

p, div, p.default {
  font-family: var(--primary-font);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 13.5pt;
  line-height: 1.3;
  letter-spacing: 0%;
}

p.default-bold {
  font-family: var(--primary-font);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 13.5pt;
  line-height: 1.3;
  letter-spacing: -2%;
}

p.medium {
  font-family: var(--primary-font);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 12pt;
  line-height: 1.3;
  letter-spacing: 0%;
}

p.medium-bold {
  font-family: var(--primary-font);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 12pt;
  line-height: 1.3;
  letter-spacing: 0%;
}

p.small {
  font-family: var(--primary-font);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 10.5pt;
  line-height: 1.3;
  letter-spacing: 0%;
}

p.small-bold {
  font-family: var(--primary-font);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 10.5pt;
  line-height: 1.3;
  letter-spacing: 0%;
}

p.default-cond {
  font-family: var(--primary-font);
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
  font-size: 18pt;
  line-height: 1.2;
  letter-spacing: 0%;
}

.caption {
  font-family: var(--primary-font);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 9pt;
  line-height: 1.2;
  letter-spacing: 0%;
}

.button-primary, button {
  display: inline-block;
  box-sizing: border-box;
  height: 48px;
  align-content: center;
  padding-inline: 32px;
  border-radius: 4px;
  background-color: var(--blue-color);
  font-family: var(--title-font);
  font-size: 18.75pt;
  letter-spacing: -2%;
  line-height: 1;
  text-transform: lowercase;
  color: var(--warm-color);
}

.button-secondary {
  display: inline-block;
  box-sizing: border-box;
  height: 48px;
  align-content: center;
  padding-inline: 32px;
  border-radius: 4px;
  background-color: var(--warm-color);
  font-family: var(--title-font);
  font-size: 18.75pt;
  letter-spacing: -2%;
  line-height: 1;
  text-transform: lowercase;
  color: var(--dark-blue-color);
  outline: 3px solid var(--blue-color);
  outline-offset: -3px;
}

.button-primary:hover, .button-secondary:hover, button:hover {
  color: var(--dark-blue-color);
  outline: 3px solid var(--dark-blue-color);
  outline-offset: -3px;
}

.button-primary:active, .button-secondary:active, button:hover {
  background-color: var(--dark-blue-color);
  color: var(--warm-color);
}

header {
  position: fixed;
  width: 100%;
  background-color: var(--warm-color);
  z-index: 10000;
  div.logo {
    width: 136px;
    height: 48px;
    a {
      img {
        width: 136px;
        height: 48px;
      }
    }
  }
  nav {
    a {
      display: inline-block;
      height: 48px;
      padding-inline: 16px;
      align-content: center;
      border-radius: 4px;
      margin-inline: 4px;
    }

    a:hover {
      background-color: var(--cold-color);
    }
  }

  .burger {
    display: none;
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px;
  }
}

footer {
  .content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .items {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }

  .inf {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 128px;
  }

  .icons {
    display: flex;
    gap: 4px;
  }

  .col2 {
    display: flex;
    flex-direction: column;
    gap: 40px
  }

  background-color: var(--cold-color);
  padding-block: 64px;

  .col3 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 456px;
  }
}

@media (max-width: 1599px) {
  .container {
    width: 1040px;
  }

  h1 {
  font-size: 48pt;
  letter-spacing: -4%;
  }

  h2 {
    font-size: 36pt;
    letter-spacing: -4%;
  }

  h3 {
    font-size: 24pt;
    letter-spacing: -4%;
  }

  h4 {
    font-size: 21pt;
    letter-spacing: -2%;
  }

  h5 {
    font-size: 18.75pt;
    letter-spacing: -2%;
  }

  h6 {
    font-size: 13.5pt;
    letter-spacing: -2%;
  }

  p.large {
    font-size: 13.5pt;
    letter-spacing: 2%;
  }

  p.large-bold {
    font-size: 13.5pt;
    letter-spacing: -1%;
  }

  p, div, p.default {
    font-size: 12pt;
    letter-spacing: 0%;
  }

  p.default-bold {
    font-size: 12pt;
    letter-spacing: -2%;
  }

  p.medium {
    font-size: 10.5pt;
    letter-spacing: 0%;
  }

  p.medium-bold {
    font-size: 10.5pt;
    letter-spacing: 0%;
  }

  p.default-cond {
    font-size: 15pt;
  }

  .caption {
    font-size: 9pt;
  }

}

@media (max-width: 1199px) {
  .container {
    width: 848px;
  }

  .button-primary, button {
    height: 40px;
    padding-inline: 24px;
    font-size: 13.5pt;
    letter-spacing: 0%;
    line-height: 1;
  }

  .button-secondary {
    height: 40px;
    padding-inline: 24px;
    border-radius: 4px;
    font-size: 13.5pt;
    letter-spacing: 0%;
    line-height: 1;
  }

  header {
    div.logo {
      width: 115px;
      height: 40px;
      a {
        img {
          width: 115px;
          height: 40px;
        }
      }
    }
    nav {
      a {
        height: 40px;
      }
    }

    .container {
      padding: 12px;
    }
  }
}

@media (max-width: 991px) {
  .container {
    width: 704px;
  }
}

@media (max-width: 767px) {
  div.container, .container, main {
    max-width: 440px;
    margin-inline: auto;
    padding-inline: 8px;
  }

  h1 {
  font-size: 31.5pt;
  letter-spacing: -2%;
  }

  h2 {
    font-size: 24pt;
    letter-spacing: -2%;
  }

  h3 {
    font-size: 19.5pt;
    letter-spacing: -2%;
  }

  h4 {
    font-size: 18pt;
    letter-spacing: -2%;
  }

  h5 {
    font-size: 15pt;
    letter-spacing: -2%;
  }

  h6 {
    font-size: 13.5pt;
    letter-spacing: -2%;
  }

  p.large {
    font-size: 13.5pt;
    letter-spacing: 2%;
  }

  p.large-bold {
    font-size: 13.5pt;
    letter-spacing: 0%;
  }

  p, div, p.default {
    font-size: 12pt;
    letter-spacing: 0%;
  }

  p.default-bold {
    font-size: 12pt;
    letter-spacing: -2%;
  }

  p.medium {
    font-size: 10.5pt;
    letter-spacing: 0%;
  }

  p.medium-bold {
    font-size: 10.5pt;
    letter-spacing: 0%;
  }

  p.body-default-cond {
    font-size: 15pt;
  }

  .caption {
    font-size: 9pt;
  }

    .button-primary {
    height: 48px;
    width: 100%;
    justify-content: center;
    padding-inline: 32px;
    font-size: 13.5pt;
    letter-spacing: 0%;
    line-height: 1;
  }

  .button-secondary {
    height: 48px;
    width: 100%;
    justify-content: center;
    padding-inline: 32px;
    font-size: 13.5pt;
    letter-spacing: 0%;
    line-height: 1;
  }

  header {
    div.logo {
      width: 115px;
      height: 40px;
      a {
        img {
          width: 115px;
          height: 40px;
        }
      }
    }
    nav {
      display: none;
    }

    .burger {
      display: block;
      width: 40px;
      height: 40px;
    }

    .button-primary {
      display: none;
    }

    .container {
      margin: 0 auto;
      width: 100%;  
      padding: 12px 16px;
      justify-content: space-between;
    }
  }

  footer {
    .container {
      flex-direction: column;
      padding: 20px;
      gap: 24px;
    }
  }
}
