@import 'fonts.scss';

:root {
    --title-font: "CoFoDrifter", sans-serif;
    --primary-font: "FreeSet", sans-serif;

    /* default color */
    --100-whtie-color: #FFFFFF;
    --200-polar-color: #F1F1F8;
    --300-barvinok-color: #C0C4DB;
    --400-gray-color: #8388AC;
    --500-dark-gray-color: #40445C;
    --600-black-color: #000422;

    /* brand color */
    --warm-color: #F8F4EB;
    --cold-color: #D2E8FF;
    --blue-color: #5884E7;
    --dark-blue-color: #0B1956;

    /* semantic color */
    --correct-color: #8DDC52;
    --wrong-color: #F25C5C;
    --warming-color: #F1E061;
}