@import 'fonts.scss';
@import 'vars.scss';
@import 'reset.scss';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  color: var(--dark-blue-color);
  background-color: var(--warm-color);
  font-family: var(--primary-font);
}

.container {
    width: 1416px;
    margin: 0 auto;
}

a {
  color: var(--dark-blue-color);
}

h1 {
  font-family: var(--title-font);
  font-size: 67.5pt;
  line-height: 0.95;
  text-transform: lowercase;
  letter-spacing: -6%;
}

h2 {
  font-family: var(--title-font);
  font-size: 48pt;
  line-height: 0.95;
  text-transform: lowercase;
  letter-spacing: -6%;
}

h3 {
  font-family: var(--title-font);
  font-size: 33pt;
  line-height: 0.95;
  text-transform: lowercase;
  letter-spacing: -4%;
}

h4 {
  font-family: var(--title-font);
  font-size: 27pt;
  line-height: 0.95;
  text-transform: lowercase;
  letter-spacing: -4%;
}

h5 {
  font-family: var(--title-font);
  font-size: 21pt;
  line-height: 0.95;
  text-transform: lowercase;
  letter-spacing: -2%;
}

h6 {
  font-family: var(--title-font);
  font-size: 18.75pt;
  line-height: 0.95;
  text-transform: lowercase;
  letter-spacing: -2%;
}

p.large {
  font-family: var(--primary-font);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 18pt;
  line-height: 1.56;
  letter-spacing: 2%;
}

p.large-bold {
  font-family: var(--primary-font);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 18pt;
  line-height: 1.56;
  letter-spacing: 2%;
}

p, div, p.default {
  font-family: var(--primary-font);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 13.5pt;
  line-height: 1.56;
  letter-spacing: 0%;
}

p.default-bold {
  font-family: var(--primary-font);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 13.5pt;
  line-height: 1.56;
  letter-spacing: -2%;
}

p.medium {
  font-family: var(--primary-font);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 12pt;
  line-height: 1.56;
  letter-spacing: 0%;
}

p.medium-bold {
  font-family: var(--primary-font);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 12pt;
  line-height: 1.56;
  letter-spacing: 0%;
}

p.small {
  font-family: var(--primary-font);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 10.5pt;
  line-height: 1.56;
  letter-spacing: 0%;
}

p.small-bold {
  font-family: var(--primary-font);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 10.5pt;
  line-height: 1.56;
  letter-spacing: 0%;
}

p.default-cond {
  font-family: var(--primary-font);
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
  font-size: 18pt;
  line-height: 1.2;
  letter-spacing: 0%;
}

.caption {
  font-family: var(--primary-font);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 9pt;
  line-height: 1.2;
  letter-spacing: 0%;
}

.button-primary {
  display: inline-block;
  height: 48px;
  align-content: center;
  padding-inline: 32px;
  border-radius: 4px;
  background-color: var(--blue-color);
  font-family: var(--title-font);
  font-size: 18.75pt;
  letter-spacing: -2%;
  line-height: 1;
  text-transform: lowercase;
}

header {
  position: fixed;
  div {
    width: 136px;
    height: 48px;
    a {
      img {
        width: 136px;
        height: 48px;
      }
    }
  }
  nav {
    a {
      display: inline-block;
      height: 48px;
      padding-inline: 16px;
      align-content: center;
      border-radius: 4px;
    }

    a:hover {
      background-color: var(--cold-color);
    }
  }
}

@media (max-width: 1599px) {
  .container {
    width: 1040px;
  }
}

@media (max-width: 1199px) {
  .container {
    width: 880px;
  }

  h1 {
  font-size: 48pt;
  letter-spacing: -4%;
  }

  h2 {
    font-size: 36pt;
    letter-spacing: -4%;
  }

  h3 {
    font-size: 24pt;
    letter-spacing: -4%;
  }

  h4 {
    font-size: 21pt;
    letter-spacing: -2%;
  }

  h5 {
    font-size: 18.75pt;
    letter-spacing: -2%;
  }

  h6 {
    font-size: 13.5pt;
    letter-spacing: -2%;
  }

  p.large {
    font-size: 13.5pt;
    letter-spacing: 2%;
  }

  p.large-bold {
    font-size: 13.5pt;
    letter-spacing: -1%;
  }

  p, div, p.default {
    font-size: 12pt;
    letter-spacing: 0%;
  }

  p.default-bold {
    font-size: 12pt;
    letter-spacing: -2%;
  }

  p.medium {
    font-size: 10.5pt;
    letter-spacing: 0%;
  }

  p.medium-bold {
    font-size: 10.5pt;
    letter-spacing: 0%;
  }

  p.default-cond {
    font-size: 15pt;
  }

  .caption {
    font-size: 9pt;
  }
}

@media (max-width: 991px) {
  .container {
    width: 688px;
  }
}

@media (max-width: 767px) {
  .container {
    margin-inline: 16px;
  }

  h1 {
  font-size: 31.5pt;
  letter-spacing: -2%;
  }

  h2 {
    font-size: 24pt;
    letter-spacing: -2%;
  }

  h3 {
    font-size: 19.5pt;
    letter-spacing: -2%;
  }

  h4 {
    font-size: 18pt;
    letter-spacing: -2%;
  }

  h5 {
    font-size: 15pt;
    letter-spacing: -2%;
  }

  h6 {
    font-size: 13.5pt;
    letter-spacing: -2%;
  }

  p.large {
    font-size: 13.5pt;
    letter-spacing: 2%;
  }

  p.large-bold {
    font-size: 13.5pt;
    letter-spacing: 0%;
  }

  p, div, p.default {
    font-size: 12pt;
    letter-spacing: 0%;
  }

  p.default-bold {
    font-size: 12pt;
    letter-spacing: -2%;
  }

  p.medium {
    font-size: 10.5pt;
    letter-spacing: 0%;
  }

  p.medium-bold {
    font-size: 10.5pt;
    letter-spacing: 0%;
  }

  p.body-default-cond {
    font-size: 15pt;
  }

  .caption {
    font-size: 9pt;
  }
}
